{%extends 'base.html'%}
{%load static%}

{%block titulo%}
	Profesores
{%endblock titulo%}

{%block content%}

	{%for profe in object_list%}
	
    <div class="col s12 m6">
      <div class="card blue-grey lighten-5">
        <div class="card-image">
          {%if profe.avatar%}
          	<img src="{{profe.avatar.url}}" alt="">
          {%else%}
          	<img src="{%static 'img/silueta.jpg'%}">
          {%endif%}
          <span class="card-title">{{profe.user.first_name}} {{profe.user.last_name}} </span>
        </div>
        <div class="card-content">
          <p>{{profe.bio}}</p>
        </div>
        <div class="card-action">
          <a href="#">Ver</a>
        </div>
      </div>
    </div>
  
	{%endfor%}

{%endblock content%}